.CompanyCard {
    background-color: rgb(26, 232, 50);
    text-decoration: none;
    font-size: 1.2rem;
}

.CompanyCard:hover {
    /* font-size: 1.4rem;
    height: 10rem;
    width: 93vw; */
    background-color: azure;
}

.card-body {
    background-color: lightblue;
    border-style: solid;
}

.float-end {
    height: 50px;
    width: 50px;
}

div {
    padding-bottom: 8px;
}